<h1>New Artist</h1>

<form action="/artists" method="POST">
    <label for=""></label>
    <input type="text" id="" name="" />
    
    <input type="submit" id="submit" value="Create Artist" />
</form>